@font-face {
    font-family: "de-bambeet";
    src: url("/font/De-bambeet.otf");
}

:root {
    --overlay-color: rgba(0, 0, 0, 0.85);
    --menu-speed: 1s;
}

body {
    overflow-x: hidden;
}

/*********************************************************************************************************/
/*                                                                                                       */
/*                                              HOMEPAGE                                                 */
/*                                                                                                       */
/*********************************************************************************************************/

/***********************************/
/*                                 */
/*   bouton retour haut de page    */
/*                                 */
/***********************************/

#button_back_top {
    display: inline-block;
    background-color: #8a6443;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 88px;
    right: 88px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
}

#button_back_top::after {
    content: "\f077";
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button_back_top:hover {
    cursor: pointer;
    background-color: #8a644378;
}
  
#button_back_top:active {
    background-color: #8a644378;
}
 
#button_back_top.show {
    opacity: 1;
    visibility: visible;
}

/***************/
/*             */
/*   header    */
/*             */
/***************/

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}

p {
    color: #8a6443;
}

.row {
    margin: 0;
}

#logoMaisonDelaye {
    width: 200px;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul >li {
    margin-left: 3rem ;
    font-size: 1.12rem;
}

.link_navbar {
    text-decoration: none;
    color: #8a6443;
    transition: color 0.6s ease;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.link_navbar:hover {
    transition: color 0.2s ease;
    color: #5a4027;
}

.vegas-content-scrollable {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/************************/
/*                      */
/* Menu / menu burger   */
/*                      */
/************************/

#hamburger_overlay {
    align-self: center;
}

#hamburger_overlay .toggler {
    position: absolute;
    margin: 3.7rem 3.5rem;
    top: 2%;
    left: 81.8%;
    z-index: 1000;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0;
    display: none;
}

#hamburger_overlay .hamburger {
    position: absolute;
    margin : 3.1rem 2.5rem;
    top: 3%;
    left: 82%;
    width: 70px;
    height: 60px;
    z-index: 2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#hamburger_overlay .hamburger >div {
    position: relative;
    width: 80%;
    height: 11%;
    background-color: #8a6443;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
}

#hamburger_overlay .hamburger >div::before,
#hamburger_overlay .hamburger >div::after {
    content :'';
    position: absolute;
    top: -11px;
    width: 100%;
    height: 3px;
    background: inherit;
}

#hamburger_overlay .hamburger >div::after {
    top: 11px;
}

#hamburger_overlay .toggler:checked + .hamburger>div {
    transform: rotate(135deg) ;
}
    
#hamburger_overlay .toggler:checked + .hamburger>div:before,
#hamburger_overlay .toggler:checked + .hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}
    
#hamburger_overlay .toggler:checked:hover + .hamburger>div {
    transform: rotate(225deg);
}

#hamburger_overlay .toggler:checked ~ #hamburger_menu_activated {
    display: initial;
}

#hamburger_overlay .toggler:checked ~ #hamburger_menu_activated > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

#hamburger_overlay .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.6s ease;
}

#hamburger_overlay #hamburger_menu_activated {
    display: none;
    position: absolute;
    height: 112vh;
    overflow: hidden;
    display: flex;
    top: 0;
    left: 0;
    z-index: -1;
    align-items: center;
    justify-content: center;
} 

#hamburger_overlay #hamburger_menu_activated > div {
    background: var(--overlay-color);
    width: 100vw;
    height: 110vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.6s ease;
}

#hamburger_overlay #hamburger_menu_activated > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    transition: opacity 0.6s ease;
}

#hamburger_overlay #hamburger_menu_activated > div > div >ul {
    padding-left: 0rem;
}

#hamburger_overlay #hamburger_menu_activated > div > div >ul > li{
    list-style: none;
    color: #8a6443;
    font-size: 1.2rem;
    padding: 0.5rem;
}
#hamburger_overlay #hamburger_menu_activated > div > div >ul > li >a:hover {
    color : #8a64437c;
}

/**********************/
/*                    */
/*    Grande image    */
/*                    */
/**********************/

#card_main_img {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
}

#container_main_title {
    text-align: center;
    width: 100%;
    margin-top: 15rem;
}
 
#main_title {
    color: #8a6443;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#second_title {
    font-size: 1.3rem;
    color: #8a6443;
}

#second_title:hover {
    transition: color 0.2s ease;
    color: #5a4027;
}

.fas {
    margin-left: 0.5rem;
}

/*************************/
/*                       */
/*    Ligne verticale    */
/*                       */
/*************************/

.vertical_item {
    position: absolute;
    top: 197%;
    width: 90vh;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    left: 8%;
}

.separator_vertical {
    content: '';
    width: 112%;
    height: 4px;
    background: #c0c8da;
    position: absolute;
    left: -13%;
}

#logo_grey {
    width: 14%;
    position: absolute;
    transform: rotate(90deg);
    top: -81px;
    left: 70%;
}

/******************************/
/*                            */
/*    Section savoir-faire    */
/*                            */
/******************************/

#section_skills {
    text-align: center;
    margin-top: 7rem;
    position: relative;
}

#skill {
    font-family:'de-bambeet';
    font-size: 7rem;
    color: #8a64433b;
    letter-spacing: 0.8rem;
    position: absolute;
    top: -105%;
    width: 100%;
}

#work {
    color: #8a6443;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

#about {
    margin: 5rem auto;
    text-align: center;
    width: 50%;
}

.separator {
    border-bottom: 2px solid #8a6443;
    width: 7%;
    margin: auto;
}

/*********************************/
/*                               */
/*    carousel images produits   */
/*                               */
/*********************************/

section {
    width: 22%;
    margin: auto;
    position: relative;
    margin-top: 4rem;
}

section > ul {
    list-style-type: none;
}

.items {
    position: absolute;
    height: 400px;
    width: 281px;
    background: #333;
    display: inline-block;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.picture_product {
    width: 281px;
    height: 400px;
}

.main-pos {
  margin-left: 2em;
  z-index: 2;
}

.left-pos {
  opacity: .3;
  margin-left: -16em;
  z-index: 1;
  transform: scale(.75);
}

.back-pos {
    margin-left: 2em;
    opacity: .05;
    transform: scale(.5);
}

.right-pos {
    opacity: .3;
    margin-left: 20em;
    z-index: 1;
    transform: scale(.75);
}

#prev {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    left: -18rem;
    top: 11rem;
    cursor: pointer;
}

#prev::after {
    content: "\f053";
    font-family: 'FontAwesome';
    font-size: 2em;
    line-height: 40px;
    padding-left: 8px;
    color: #8a6443;
}

#next {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    left: 40rem;
    top: 11rem;
    cursor: pointer;
}

#next::after {
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 2em;
    line-height: 40px;
    padding-left: 8px;
    color: #8a6443;
}

#btn_discover {
    margin-top: 26rem;
    text-align: center ;
}

.btn {
    border: 2.5px solid #022168;
    color: #022168;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: white;
}

.btn:hover {
    border: 2.5px solid #02216878;
    color: #02216878;
}

/***************************/
/*                         */
/*    section medaille     */
/*                         */
/***************************/

#distinction_medal {
    height: 600px;
    background-color: #022168;
    margin-top: 8rem;
    margin-bottom: 9rem;
}

#title_medal {
    text-align: center;
}

#container_medal > p{
    width: 50%;
    margin: 6rem auto;
    text-align: justify;
}

.main_title {
    font-family:'de-bambeet';
    font-size: 7rem;
    color: #8a64433b;
    letter-spacing: 0.8rem;
    position: absolute;
    margin-top: 3rem;
    width: 50%;
}

.second_title {
    color: #8a6443;
    letter-spacing: 0.3rem;
    text-transform: uppercase; 
    padding-top: 6rem;
    font-size: 1.3rem;
}

/***********************/
/*                     */
/* carousel medaille   */
/*                     */
/***********************/

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 6))}
}

.slider {
	height: 600px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
    padding: 5rem;
}

.slide > img {
    height: 400px;
    width: 200px;
}

.slider::before,
.slider::after {
	background: linear-gradient(to right,  rgba(2,33,104,1) 0%,rgba(2,33,104,0) 100%);
	content: "";
	height: 400px;
	position: absolute;
	width: 200px;
	z-index: 2;
    margin-top: 5rem;
}

.special::before,
.special::after {
    z-index: -1;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 20s linear infinite;
	display: flex;
	width: calc(250px * 12);
}

.slide {
	height: 100px;
	width: 250px;
}

/***********************/
/*                     */
/*    section actus    */
/*                     */
/***********************/

#picture_melissa_delaye {
    width: 50%;
}

#row_card,
#row_actuality {
    text-align: center;
}

#container_text_actuality > p{
    width: 55%;
    margin: 5rem auto;
    text-align: justify;
}

.separator_actuality {
    border-bottom: 2px solid #8a6443;
    width: 7%;
    margin: auto ;
}

#btn_actuality {
    color: #8a6443 ;
    border-color: #8a6443;
    margin-top: 5rem;
}

#btn_actuality:hover,
#btn_menu:hover {
    color: #8a644378;
    border-color: #8a644378;
}

#row_card {
    margin-top: 10rem;
}

/***********************/
/*                     */
/*    section carte    */
/*                     */
/***********************/

#picture_menu {
    width: 50%;
}

#container_text_menu > p{
    width: 50%;
    margin: 5rem auto;
    text-align: justify;
}

.separator_menu {
    border-bottom: 2px solid #8a6443;
    width: 7%;
    margin: auto;
}

#btn_menu {
    color: #8a6443 ;
    border-color: #8a6443;
    margin-top: 5rem;
}

/*************************/
/*                       */
/*    Ligne verticale    */
/*                       */
/*************************/

.vertical_item_2 {
    position: absolute;
    top: 378%;
    width: 90vh;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    left: 94%;
}

.separator_vertical_2 {
    content: '';
    width: 194%;
    height: 4px;
    background: #c0c8da;
    position: absolute;
    left: -95%;
}

#logo_grey_2 {
    width: 14%;
    position: absolute;
    transform: rotate(90deg);
    top: -81px;
    left: 70%;
}

/*************************/
/*                       */
/*    section contact    */
/*                       */
/*************************/

#container_contact {
    height: 800px;
    background-image: url(/pictures/photo_devanture.JPG);
    background-size: cover;
    margin-top: 10rem;
    text-align: center;
}

#container_contact_opacity {
    background-color: rgba(0, 0, 0, 0.700);
    height: 800px;
}

#container_text_contact > div > p,
#container_text_contact > div > h3,
#jk5,
#jk6{
    color: white;
}

#container_text_contact > div > p {
    margin-bottom: 0.2rem;
}

#container_text_contact > div > h3 {
    font-family: "de-bambeet";
    letter-spacing: 0.2rem;
}

#container_text_contact {
    margin-top: 8rem;
}

#jk5 {
    margin-top: 6rem;
    margin-left: 30rem;
    color: rgba(255, 255, 255, 0.25);
}

#jk6 {
    padding-top: 9rem;
    padding-left: 1rem;
}

.text_contact{
    margin-bottom: 3rem;
}

#separator_vertical_contact {
    content: '';
    width: 5%;
    height: 4px;
    background: #8a6443;
    position: absolute;
    left: 47.5%;
    top: 550.8%;
    transform: rotate(90deg);
}

/****************/
/*              */
/*    footer    */
/*              */
/****************/

footer {
    height: 330px;
    background-color: black;
    text-align: center;
    margin-top: 5rem;
}

#main_containter_footer > a > img{
    width: 10%;
    margin-top: 2rem;
}

#icons_social_media {
    margin: 1rem auto ;

}

#icons_social_media > a > i {
    font-size: 1.5rem;
}

#icons_social_media > a {
    text-decoration: none;
    transition: color 0.2s ease;
    color: #8a6443;
}

#icons_social_media > a:hover {
    transition: color 0.2s ease;
    color: #8a64437c  ;
}

#fab {
    margin-left: 0.5rem;
}

#legal_mention {
    margin-top: 3rem;
}

#legal_mention > p > a {
    text-decoration: none;
    color: #8a6443;
}

#legal_mention > p > a:hover {
    transition: color 0.2s ease;
    color: #8a64437c ;
}

/*****************************/
/*                           */
/*    Responsive tablette    */
/*                           */
/*****************************/

@media screen and (max-width : 768px) {
    #hamburger_overlay .toggler,
    #hamburger_overlay .hamburger {
        display: inline;
    }

    #hamburger-content {
        display: none;
    }

    .vertical_item,
    .vertical_item_2,
    .second_separator_vertical_1,
    .second_separator_vertical_2,
    #logo_grey,
    #logo_grey_2,
    #separator_vertical_contact
     {
        display: none;
    }

    .main-pos,
    .back-pos {
        margin-left: -5.5em;
    }

    .right-pos {
        margin-left: 7em;
    }

    .left-pos {
        margin-left: -19em;
    }

    #next {
        left: 24rem;
    }

    .main_title {
        margin-left: 11rem;
    }

    #title_medal > p {
        margin-left:  16rem;
    }

    #container_medal > p {
        margin: 4rem auto 0rem;
    }

    .slider {
        padding: 4rem;
        height: 425px;
        width: 100%;
    }

    .slide > img {
        height: 300px;
        width: 150px;
    }

    .slider::before { 
        margin-top: 0;
    }

    .slider::after {
        margin-top: 0;
        right: -1%;
    }

    .slide-track {
        width: calc(185px * 12);
    }

    #distinction_medal {
        height: 830px;
        margin-bottom: 7rem;
    }

    #container_picture,
    #container_text_actuality {
        width: 100%;
    }

    #container_text_actuality > p {
        margin: 5rem 11em;
    }

    #container_picture > img,
    #container_picture_menu > img {
        margin: 0 ;
    }

    #jk1 {
        margin-left: 12rem;
        font-size: 5rem;
    }

    #jk2 {
        padding-left: 0;
        font-size: 1.2rem;
        padding-top: 5rem;
    }

    #btn_actuality {
        margin-left: 1rem;
    }

    #container_picture_menu {
        width: 100%;
        order: -1;
        text-align:center
    }

    #title_card {
        text-align: center;
    }

    #jk3 {
        margin-left: 12rem;
        font-size: 5rem;;
    }

    #jk4 {
        padding-left: 0rem;
        padding-top: 6rem;
    }

    #container_text_menu > p {
        width: 57%;
        margin-left: 10rem;
    }

    #jk5 {
        margin-top: 7rem;
        margin-left: 0rem;
        width: 100%;
        font-size: 5rem;
    }

    .separator_menu {
        margin-left: 22rem;
    }

    #main_containter_footer > a > img {
        width: 20%;
    }

    #fab {
        margin-left: 1.6rem;
        margin-right: 1.3rem;
    }

    footer {
        height: 323px;
    }
    
}

@media (min-width : 769px) and (max-width : 1024px) {
    .vertical_item,
    .vertical_item_2,
    .second_separator_vertical_1,
    .second_separator_vertical_2,
    #logo_grey,
    #logo_grey_2,
    #separator_vertical_contact {
        display: none;
    }

    #skill {
       top: -94%;
    }

    .main-pos,
    .back-pos {
        margin-left: -4rem;
    }

    .right-pos {
        margin-left: 15rem;
    }

    .left-pos {
        margin-left: -23em;
    }

    #next {
        left: 32rem;
    }

    #prev {
        left: -22rem;
    }

    .main_title {
        font-size: 6rem;
    }

    .second_title {
        padding-top: 5rem;
    }

    #title_medal > p {
        margin-left:  16rem;
    }

    .slider {
        padding: 4rem;
        height: 600px;
        width: 100%;
    }

    .slide > img {
        height: 300px;
        width: 150px;
    }

    .slider::before { 
        margin-top: 4rem;
    }

    .slider::after {
        margin-top: 4rem;
        right: -1%;
    }

    .slide-track {
        width: calc(185px * 12);
        margin-top: 5.5rem;
    }

    #container_picture,
    #container_text_actuality,
    #container_text_menu {
        text-align: center;
    }

    #picture_melissa_delaye,
    #picture_menu {
        width: 80%;
    }

    #container_picture > img,
    #container_picture_menu > img {
        margin: 0 ;
    }

    #jk1 {
        margin-left: 0;
        margin-top: 1rem;
    }

    #jk2 {
        padding-left: 0;
        padding-top: 3.5rem;
    }

    #container_text_actuality > p,
    #container_text_menu > p {
        width: 85%;
        margin: 4rem auto;
    }

    .separator_actuality,
    .separator_menu {
        margin: auto;
    }

    #btn_actuality,
    #btn_menu {
        margin-left: 0;
    }

    #container_picture_menu {
        text-align : center;
    }

    #jk3 {
        margin: 0;
    }

    #jk4 {
        padding-top: 2.5rem;
        padding-left: 0;
    }

    #jk5 {
        margin-top: 7rem;
        margin-left: 0rem;
        width: 100%;
        font-size: 5rem;
    }

    #main_containter_footer > a > img {
        width: 20%;
    }

    #fab {
        margin-left: 1.5rem;
        margin-right: 1.4rem;
    }

    footer {
        height: 283px;
    }
    
}

/******************************/
/*                            */
/*    Responsive téléphone    */
/*                            */
/******************************/

@media screen and (max-width : 576px) {

    #button_back_top {
        width: 40px;
        height: 40px;
        bottom: 25px;
        right: 25px;
    }

    #button_back_top::after {
        font-size: 1.5em;
        line-height: 43px;
    }

    header {
        padding: 1.5rem 1rem;
        text-align: left;
    }

    #logoMaisonDelaye {
        width: 40%;
    }

    #hamburger_overlay .hamburger {
        top: 2%;
        left: 65%;
        width: 65px;
        height: 50px;
    }

    #hamburger_overlay .toggler {
        top: 1%;
        left: 63.8%;
    }

    #hamburger_overlay .hamburger >div::before, 
    #hamburger_overlay .hamburger >div::after {
        height: 2px;
    }

    #section_skills {
        margin-top: 5rem;
    }

    #skill {
        font-size: 4rem;
        letter-spacing: 0.4rem;
        top: -70%;
    }

    #work {
        letter-spacing: 0.2rem;
    }
    
    #about {
        width: 90%;
        text-align: justify;
        margin: 3rem auto;
    }

    .separator {
        width: 40%;
    }

    section {
        width: 30%;
        margin-top: 6rem;
    }

    .slide > img {
        height: 260px;
    }

    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-180px * 6))}
    }

    .slide-track {
        width: calc(180px * 12);
    }

    #distinction_medal {
        height: 780px;
    }

    .items {
        height: 400px;
        width: 230px;
    }

    .right-pos {
        margin-left: -2em;
    }

    .left-pos {
        margin-left: -9em;
    }

    #prev {
        left: -8rem;
    }

    #next {
        left: 11rem;
    }

    #distinction_medal {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .slider {
        padding: 0rem;
    }

    #container_medal > p {
        margin: 4rem auto 3rem;
    }

    .slider::before, .slider::after {
        height: 260px;
        width: 90px;
    }

    .main_title,
    #jk1,
    #jk3 {
        font-size: 5rem;
        letter-spacing: 0.3rem;
        width: 98%;
        margin-left: 0;
    }

    .second_title,
    #jk2,
    #jk4 {
        letter-spacing: 0.2rem;
        padding-top: 5rem;
        font-size: 1.3rem;
    }

    #jk4 {
        padding-top: 6rem;
    }

    #container_medal > p,
    #container_text_actuality > p,
    #container_text_menu > p {
        width: 90%;
        margin: 3rem auto;
    }

    #picture_melissa_delaye,
    #picture_menu {
        width: 85%;
    }
    
    .separator_actuality,
    .separator_menu {
        width: 40%;
        margin: auto;
    }

    #btn_actuality,
    #btn_menu {
        margin-top: 3rem;
        margin-left:0 ;
    }

    #row_actuality {
        margin-top: 6rem;
        text-align: center;
    }

    #container_contact {
        height: 600px;
        margin-top: 5rem;
    }

    #container_contact_opacity {
        height: 600px;
    }

    #jk5 {
        margin-top: 3.8rem;
        font-size: 4rem;
    }

    #jk6 {
        padding-top: 5rem;
        padding-left: 0 ;
    }

    footer {
        height: 243px;
        margin-top: 3rem;
    }

    #main_containter_footer > a > img {
        width: 35%;
    }

    #fab {
        margin-left: 0.6rem;
        margin-right: 0.3rem;
    }

    #legal_mention {
        margin-top: 2rem;
    }
}

/************************************************************************************************************/
/*                                                                                                          */
/*                                              PAGE CONTACT                                                */
/*                                                                                                          */
/************************************************************************************************************/
#background_contact {
    height: 350px;
    background-image: url(/pictures/photo_devanture.JPG);
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
}

#overlay_background_contact,
#overlay_background_aboutUs{
    background-color: rgba(0, 0, 0, 0.600);
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title_contact > h2,
#title_aboutUs > h2 {
    color: white;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    font-family: "de-bambeet";
}

#title_page_contact {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

#row_contact {
    justify-content: center;
}

#row_contact > .col {
    text-align: center;
}

#phone_contact > i,
#places_contact > i,
#mail_contact > i {
    font-size: 2rem;
    color: #8a6443;
    margin-bottom: 2rem;
}

#phone_contact > h3,
#places_contact > h3,
#mail_contact > h3 {
    font-size: 1.3rem;
    color: #8a6443;
}

#phone_contact > p,
#places_contact > p,
#mail_contact > a > p {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
}

#no_margin {
    margin-bottom: 0;
}

#container_places_contact {
    border-left: 2px #8a6443 solid;
    border-right: 2px #8a6443 solid;
}

#aside_message {
    width: 50%;
    text-align: center;
    margin: 5rem auto;
}

#aside_message > span {
    color: #8a6443;
    font-style: italic;
    font-size: 1.1rem;
}  

#container_form_contact {
    width: 30%;
    margin: auto;
    margin-bottom: 5rem;
}

#message_validation {
    text-align: center;
    margin-bottom: 4rem;
    color: green;
    font-weight: bold;
    font-style: italic;
}

#map {
    height: 500px;
}

.leaflet-popup-content > span {
    font-weight: bold;
    font-size: 1.1rem;
}

#btn_contact {
    color: #8a6443 ;
    border-color: #8a6443;
}

#btn_contact:hover,
#btn_contact:hover {
    color: #8a644378;
    border-color: #8a644378;
}

/*****************************/
/*                           */
/*    Responsive tablette    */
/*                           */
/*****************************/

@media screen and (max-width : 768px) {
    #background_contact {
        margin-bottom: 4rem;
    }

    #title_page_contact {
        margin-bottom: 4rem;
    }

    
    #aside_message {
        width: 80%;
        text-align: center;
        margin: 4rem auto;
    }

    #container_form_contact {
        width: 85%;
        margin: auto;
        margin-bottom: 4rem;
    }

    .col-md-2 {
        width: 30%;
    }

}

/******************************/
/*                            */
/*    Responsive téléphone    */
/*                            */
/******************************/

@media screen and (max-width : 576px) {
    #background_contact {
        height: 285px;
        margin-bottom: 3rem;
    }

    #overlay_background_contact {
        height: 285px;
    }

    #title_page_contact {
        margin-bottom: 3rem;
    }

    #container_places_contact {
        border-top: 2px #8a6443 solid;
        border-bottom: 2px #8a6443 solid;
        border-left: none;
        border-right: none;
        width: 50%;
        margin: auto;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }

    #aside_message {
        width: 100%;
        text-align: center;
        margin: 3rem auto;
    }

    #container_form_contact {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }

    #map {
        height: 300px;
    }

    .col-md-2 {
        width: 100%;
    }
}

/*************************************************************************************************************/
/*                                                                                                           */
/*                                              PAGE A PROPOS                                                */
/*                                                                                                           */
/*************************************************************************************************************/

#background_aboutUs {
    height: 350px;
    background-image: url(/pictures/photo_devanture.JPG);
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
}

#main_title_aboutUs {
    text-align:center ;
    margin-bottom: 3rem;
}

#card_presentation {
    width: 70%;
    margin: auto;
    align-items: center;

}

#card_presentation > div {
    text-align: center;
}

.img_team > img {
    width: 60%;
}

#banner_about {
    height: 350px;
    width: 70%;
    margin: 5rem auto ;
    background-image: url(/pictures/photo_devanture.JPG);
    background-size: cover;
    background-position: center;
}

#banner_overlay_background_aboutUs {
    background-color: rgba(0, 0, 0, 0.600);
    height: 350px;
}

#slider_comments {
    width: 70%;
    margin:auto;
    height: 200px;
}

#quote {
}

#item1, 
#item2, 
#item3,
#item4,
#item5 {
	position: absolute;
    display: block;
    width: 50%;
    font-size: 2em;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
    text-align: center;
}

#item1 {
	animation-name: anim-1;
}

#item2 {
	animation-name: anim-2;
}

#item3 {
	animation-name: anim-3;
}

#item4 {
	animation-name: anim-4;
}

#item5 {
	animation-name: anim-5;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}

@keyframes anim-4 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}

@keyframes anim-5 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}



