@font-face {
    font-family: "de-bambeet";
    src: url("/font/De-bambeet.otf");
}

:root {
    --overlay-color: rgba(0, 0, 0, 0.85);
    --menu-speed: 1s;
}

body {
    overflow-x: hidden;
}

h1 {
    color: white;
    font-family: "de-bambeet";  
    letter-spacing: 0.3rem;
    font-size: 3.4rem;
}

a:hover {
    color: #022168;
}

.link_navbar_toggler {
    color: white;
}

/*********************************************************************************************************/
/*                                                                                                       */
/*                                              HOMEPAGE                                                 */
/*                                                                                                       */
/*********************************************************************************************************/

/***********************************/
/*                                 */
/*   bouton retour haut de page    */
/*                                 */
/***********************************/

#button_back_top {
    display: inline-block;
    background-color: #022168;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 88px;
    right: 88px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
}

#button_back_top::after {
    content: "\f077";
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button_back_top:hover {
    cursor: pointer;
    background-color: #0221689e;
}
  
#button_back_top:active {
    background-color: #0221689e;
}
 
#button_back_top.show {
    opacity: 1;
    visibility: visible;
}

/***************/
/*             */
/*   header    */
/*             */
/***************/

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}

p {
    color: #022168;
}

.row {
    margin: 0;
}

#logoMaisonDelaye {
    width: 180px;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul >li {
    margin-left: 2rem ;
    font-size: 1rem;
}

.link_navbar {
    text-decoration: none;
    color: #022168;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.menu-item:after {
    content:'';
    width: 100%;
    height: 2px;
    transform: scale(0,1);
    transform-origin: left center;
    background: #022168;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover::after {
    transform: scale(1);
    color: #022168;
}

.menu-item:hover {
    color: #022168;
}

.vegas-content-scrollable {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.down_page {
    margin-top: 10%;
}

.down_page > i {
    font-size: 2rem;
    color: #022168;
}

/************************/
/*                      */
/* Menu / menu burger   */
/*                      */
/************************/

#hamburger_overlay {
    align-self: center;
}

#hamburger_overlay .toggler {
    position: absolute;
    margin: 3.7rem 3.5rem;
    top: 2%;
    left: 81.8%;
    z-index: 1000;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0;
    display: none;
}

#hamburger_overlay .hamburger {
    position: absolute;
    margin : 3.1rem 2.5rem;
    top: 3%;
    left: 82%;
    width: 70px;
    height: 60px;
    z-index: 2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#hamburger_overlay .hamburger >div {
    position: relative;
    width: 80%;
    height: 11%;
    background-color: #022168;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
}

#hamburger_overlay .hamburger >div::before,
#hamburger_overlay .hamburger >div::after {
    content :'';
    position: absolute;
    top: -11px;
    width: 100%;
    height: 3px;
    background: inherit;
}

#hamburger_overlay .hamburger >div::after {
    top: 11px;
}

#hamburger_overlay .toggler:checked + .hamburger>div {
    transform: rotate(135deg) ;
}
    
#hamburger_overlay .toggler:checked + .hamburger>div:before,
#hamburger_overlay .toggler:checked + .hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}
    
#hamburger_overlay .toggler:checked:hover + .hamburger>div {
    transform: rotate(225deg);
}

#hamburger_overlay .toggler:checked ~ #hamburger_menu_activated {
    display: initial;
}

#hamburger_overlay .toggler:checked ~ #hamburger_menu_activated > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

#hamburger_overlay .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.6s ease;
}

#hamburger_overlay #hamburger_menu_activated {
    display: none;
    position: absolute;
    height: 112vh;
    overflow: hidden;
    display: flex;
    top: 0;
    left: 0;
    z-index: -1;
    align-items: center;
    justify-content: center;
} 

#hamburger_overlay #hamburger_menu_activated > div {
    background: var(--overlay-color);
    width: 100vw;
    height: 110vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.6s ease;
}

#hamburger_overlay #hamburger_menu_activated > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    transition: opacity 0.6s ease;
}

#hamburger_overlay #hamburger_menu_activated > div > div >ul {
    padding-left: 0rem;
}

#hamburger_overlay #hamburger_menu_activated > div > div >ul > li {
    list-style: none;
    font-size: 1.2rem;
    padding: 0.5rem;
}

#hamburger_overlay #hamburger_menu_activated > div > div >ul > li > a{
    color: white !important;
}

/**********************/
/*                    */
/*    Grande image    */
/*                    */
/**********************/

#card_main_img {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
}

#container_main_title {
    text-align: center;
    width: 100%;
    margin-top: 15rem;
}
 
#main_title {
    color: #022168;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-family: inherit;
    font-size: 1.8rem;
}

#second_title {
    font-size: 1.3rem;
    color: #022168;
}

#second_title:hover {
    transition: color 0.2s ease;
    color: #0221689e;
}

.fas {
    margin-left: 0.5rem;
}

/*************************/
/*                       */
/*    Ligne verticale    */
/*                       */
/*************************/

.vertical_item {
    position: absolute;
    top: 197%;
    width: 90vh;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    left: 8%;
}

.separator_vertical {
    content: '';
    width: 112%;
    height: 4px;
    background: #c0c8da;
    position: absolute;
    left: -13%;
}

#logo_grey {
    position: absolute;
    transform: rotate(90deg);
    top: -81px;
    left: 70%;
}

/******************************/
/*                            */
/*    Section savoir-faire    */
/*                            */
/******************************/

#section_skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    position: relative;
}

#skill {
    font-family:'de-bambeet';
    font-size: 7rem;
    color: #02216821;
    letter-spacing: 0.8rem;
    position: absolute;
    top: -170%;
    left: 35%;
}

#work {
    color: #022168;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-top: 0.4rem;
}

#about {
    margin: 5rem auto;
    text-align: center;
    width: 50%;
}

.separator {
    border-bottom: 2px solid #022168;
    width: 7%;
    margin: auto;
}

/*********************************/
/*                               */
/*    carousel images produits   */
/*                               */
/*********************************/

section {
    width: 22%;
    margin: auto;
    position: relative;
    margin-top: 4rem;
}

section > ul {
    list-style-type: none;
}

.items {
    position: absolute;
    height: 400px;
    width: 281px;
    background: #333;
    display: inline-block;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.picture_product {
    width: 281px;
    height: 400px;
}

.main-pos {
  margin-left: 2em;
  z-index: 2;
}

.left-pos {
  opacity: .3;
  margin-left: -16em;
  z-index: 1;
  transform: scale(.75);
}

.back-pos {
    margin-left: 2em;
    opacity: .05;
    transform: scale(.5);
}

.right-pos {
    opacity: .3;
    margin-left: 20em;
    z-index: 1;
    transform: scale(.75);
}

#prev {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    left: -18rem;
    top: 11rem;
    cursor: pointer;
}

#prev::after {
    content: "\f053";
    font-family: 'FontAwesome';
    font-size: 2em;
    line-height: 40px;
    padding-left: 8px;
    color: #022168;
}

#next {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    left: 40rem;
    top: 11rem;
    cursor: pointer;
}

#next::after {
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 2em;
    line-height: 40px;
    padding-left: 8px;
    color: #022168;
}

#btn_discover {
    margin-top: 26rem;
    text-align: center ;
}

.btn {
    border: 2.5px solid #022168;
    color: #022168;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: white;
}

.btn:hover {
    border: 2.5px solid #02216878;
    color: #02216878;
}

/***************************/
/*                         */
/*    section medaille     */
/*                         */
/***************************/

#distinction_medal {
    height: 600px;
    background-image: url(/pictures/Fond_bleu.jpg);
    margin-top: 8rem;
    margin-bottom: 9rem;
    background-size: cover;
    background-position: bottom -500px right 0px;
}

#title_medals {
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}

#title_medal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title_medal > h2 {
    color: white;
}

#container_medal > p{
    width: 52%;
    margin: 6rem auto;
    text-align: justify;
    color: white;
}

.main_title {
    font-family:'de-bambeet';
    font-size: 7rem;
    color: #8a64433b;
    letter-spacing: 0.8rem;
    position: absolute;
    margin-top: 3rem;
}

.second_title {
    color: #8a6443;
    letter-spacing: 0.1rem;
    text-transform: uppercase; 
    padding-top: 4rem;
    font-size: 1.3rem;
}

#container_medal {
    padding-top: 5rem;
}

/***********************/
/*                     */
/* carousel medaille   */
/*                     */
/***********************/

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 6))}
}

.slider {
	height: 600px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
    padding: 5rem;
}

.slide > img {
    height: 400px;
    width: 200px;
}

.slide-track {
	animation: scroll 20s linear infinite;
	display: flex;
	width: calc(250px * 12);
}

.slide {
	height: 100px;
	width: 250px;
}

/***********************/
/*                     */
/*    section actus    */
/*                     */
/***********************/

#picture_melissa_delaye {
    width: 75%;
}

.row_card,
#row_actuality {
    text-align: center;
    width: 70%;
    margin: auto;
    align-items: center;
}

#title_actuality{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_text_actuality > p{
    width: 75%;
    margin: 5rem auto;
    text-align: justify;
}

.separator_actuality {
    border-bottom: 2px solid #022168;
    width: 7%;
    margin: auto ;
}

#btn_actuality {
    color: #022168 ;
    border-color: #022168;
    margin-top: 5rem;
}

#btn_actuality:hover,
.btn_menu:hover {
    color: #02216878;
    border-color: #02216878;
}

.row_card {
    margin-top: 10rem;
}

#jk2 {
    color: #022168;
}

#jk1 {
    color: #02216821;
}

/***********************/
/*                     */
/*    section carte    */
/*                     */
/***********************/

.picture_menu {
    width: 75%;
}

.container_text_menu > p{
    width: 75%;
    margin: 4rem auto;
    text-align: justify;
}

.separator_menu {
    border-bottom: 2px solid #022168;
    width: 7%;
    margin: auto;
}

.btn_menu {
    color: #022168 ;
    border-color: #022168;
    margin-top: 4rem;
}

.jk4 {
    color: #022168;
    padding-top: 4rem;
}

.jk3 {
    color: #02216821;
}


/*************************/
/*                       */
/*    Ligne verticale    */
/*                       */
/*************************/

.vertical_item_2 {
    position: absolute;
    top: 378%;
    width: 90vh;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    left: 94%;
}

.separator_vertical_2 {
    content: '';
    width: 194%;
    height: 4px;
    background: #c0c8da;
    position: absolute;
    left: -95%;
}

#logo_grey_2 {
    width: 14%;
    position: absolute;
    transform: rotate(90deg);
    top: -81px;
    left: 70%;
}

/*************************/
/*                       */
/*    section contact    */
/*                       */
/*************************/

#container_contact {
    height: 800px;
    background-image: url(/pictures/photo_devanture.JPG);
    background-size: cover;
    margin-top: 10rem;
    text-align: center;
}

#container_contact_opacity {
    background-color: rgba(0, 0, 0, 0.700);
    height: 800px;
}

#container_text_contact > div > p,
#container_text_contact > div > h3,
.jk5,
.jk6{
    color: white;
}
#title_contact_homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
#container_text_contact > div > p {
    margin-bottom: 0.2rem;
}

#container_text_contact > div > h3 {
    font-family: "de-bambeet";
    letter-spacing: 0.2rem;
}

#container_text_contact {
    margin-top: 8rem;
}

.jk5 {
    color: rgba(255, 255, 255, 0.4);
}

.jk6 {
    padding-top: 3rem;
}

.text_contact{
    margin-bottom: 3rem;
}

/****************/
/*              */
/*    footer    */
/*              */
/****************/

footer {
    height: 330px;
    background-color: black;
    text-align: center;
    margin-top: 5rem;
}

#main_containter_footer > a > img{
    width: 10%;
    margin-top: 2rem;
}

#icons_social_media {
    margin: 1rem auto ;

}

#icons_social_media > a > i {
    font-size: 1.5rem;
}

#icons_social_media > a {
    text-decoration: none;
    transition: color 0.2s ease;
    color: #8a6443;
}

#icons_social_media > a:hover {
    transition: color 0.2s ease;
    color: #8a64437c  ;
}

#fab {
    margin-left: 0.5rem;
}

#legal_mention {
    margin-top: 3rem;
}

#legal_mention >p,
#legal_mention > p > a {
    text-decoration: none;
    color: #8a6443;
}

#legal_mention > p > a:hover {
    transition: color 0.2s ease;
    color: #8a64437c ;
}

/*****************************/
/*                           */
/*    Responsive tablette    */
/*                           */
/*****************************/

@media screen and (max-width : 768px) {
    #hamburger_overlay .toggler,
    #hamburger_overlay .hamburger {
        display: inline;
    }

    #hamburger-content {
        display: none;
    }

    .vertical_item,
    .vertical_item_2,
    .second_separator_vertical_1,
    .second_separator_vertical_2,
    #logo_grey,
    #logo_grey_2,
    #separator_vertical_contact
     {
        display: none;
    }

    #skill {
        left: 15%;
        top: -130%;
    }

    #work {
        padding-top: 0.9rem;
    }

    .main-pos,
    .back-pos {
        margin-left: -5.5em;
    }

    .right-pos {
        margin-left: 7em;
    }

    .left-pos {
        margin-left: -19em;
    }

    #next {
        left: 24rem;
    }

    .main_title {
        width: 68%;
        font-size: 5rem;
        margin: 3rem 0;
    }

    #title_medal > p {
        margin-left:  16rem;
    }

    .second_title {
        padding-top: 0;
    }

    #container_medal > p {
        margin: 4rem auto 0rem;
    }

    .slider {
        padding: 4rem;
        height: 425px;
        width: 100%;
    }

    .slide > img {
        height: 300px;
        width: 150px;
    }

    .slider::before { 
        margin-top: 0;
    }

    .slider::after {
        margin-top: 0;
        right: -1%;
    }

    .slide-track {
        width: calc(185px * 12);
    }

    #distinction_medal {
        height: 830px;
        margin-bottom: 7rem;
    }

    #container_picture,
    #container_text_actuality {
        width: 100%;
    }

    #container_text_actuality {
        margin-top: 4rem;
        padding-top: 0;
    }

    #container_picture > img,
    .container_picture_menu > img {
        margin: 0 ;
    }

    #jk2 {
        padding-left: 0;
        font-size: 1.2rem;
        padding-top: 0;
        color: #022168;
    }

    .container_picture_menu {
        width: 100%;
        order: -1;
        text-align:center;
        margin-bottom: 4rem;
    }

    .row_card {
        margin-top: 6rem;
    }
    

    .title_card {
        text-align: center;
    }

    .jk4 {
        padding-left: 0rem;
        padding-top: 1rem;
    }

    .jk5 {
        margin-top: 7rem;
        margin-left: 0rem;
        width: 100%;
        font-size: 5rem;
    }

    .jk6 {
        padding-top: 4rem;
    }

    #main_containter_footer > a > img {
        width: 20%;
    }

    #fab {
        margin-left: 1.6rem;
        margin-right: 1.3rem;
    }

    footer {
        height: 323px;
    }
    
}

/******************************/
/*                            */
/*    Responsive téléphone    */
/*                            */
/******************************/

@media screen and (max-width : 576px) {

    #main_title {
        font-size: 2rem;
    }

    #button_back_top {
        width: 40px;
        height: 40px;
        bottom: 25px;
        right: 25px;
    }

    #button_back_top::after {
        font-size: 1.5em;
        line-height: 43px;
    }

    header {
        padding: 1.5rem 1rem;
        text-align: left;
    }

    #logoMaisonDelaye {
        width: 55%;
    }

    #hamburger_overlay .hamburger {
        top: 2%;
        left: 65%;
        width: 65px;
        height: 50px;
    }

    #hamburger_overlay .toggler {
        top: 1%;
        left: 63.8%;
    }

    #hamburger_overlay .hamburger >div::before, 
    #hamburger_overlay .hamburger >div::after {
        height: 2px;
    }

    #section_skills {
        margin-top: 5rem;
    }

    #skill {
        font-size: 4rem;
        letter-spacing: 0.6rem;
        top: -70%;
        left: 0;
        width: 100%;
        text-align: center;
    }

    #work {
        padding-top: 0.5rem;
    }
    
    #about {
        width: 90%;
        text-align: justify;
        margin: 3rem auto;
    }

    .row_card,
    #row_actuality {
        width: 90%;
    }

    .separator {
        width: 40%;
    }

    section {
        width: 30%;
        margin-top: 6rem;
    }

    .slide > img {
        height: 260px;
    }

    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-180px * 6))}
    }

    .slide-track {
        width: calc(180px * 12);
    }

    #distinction_medal {
        height: 690px;
        background-position: bottom 0px right 0px;
        background-size: cover;
    }

    .items {
        height: 400px;
        width: 230px;
    }

    .right-pos {
        margin-left: -2em;
    }

    .left-pos {
        margin-left: -9em;
    }

    #prev {
        left: -8rem;
    }

    #next {
        left: 11rem;
    }

    #distinction_medal {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .slider {
        padding: 0rem;
    }

    #container_medal > p {
        margin: 4rem auto 3rem;
    }

    .slider::before, .slider::after {
        height: 260px;
        width: 90px;
    }

    .main_title,
    #jk1,
    .jk3 {
        font-size: 5rem;
        letter-spacing: 0.3rem;
        width: 87%;
        margin-left: 0;
    }

    .second_title,
    #jk2,
    .jk4 {
        padding-top: 0;
        font-size: 1rem;
    }

    .jk4 {
        padding-top: 0;
    }

    #container_medal > p,
    #container_text_actuality > p,
    .container_text_menu > p {
        width: 90%;
        margin: 3rem auto;
    }

    #picture_melissa_delaye,
    .picture_menu {
        width: 85%;
    }
    
    .separator_actuality,
    .separator_menu {
        width: 40%;
        margin: auto;
    }

    #btn_actuality,
    .btn_menu {
        margin-top: 3rem;
        margin-left:0 ;
    }

    #row_actuality {
        margin-top: 6rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    #container_contact {
        height: 600px;
        margin-top: 5rem;
    }

    #container_contact_opacity {
        height: 600px;
    }

    .jk5 {
        margin-top: 3.8rem;
        font-size: 3.5rem;
        letter-spacing: 0.6rem;
    }

    .jk6 {
        padding-top: 1rem;
        padding-left: 0 ;
    }

    footer {
        height: 243px;
        margin-top: 3rem;
    }

    #main_containter_footer > a > img {
        width: 35%;
    }

    #fab {
        margin-left: 0.6rem;
        margin-right: 0.3rem;
    }

    #legal_mention {
        margin-top: 2rem;
    }

    #legal_mention > p {
        font-size: 0.9rem;
    }
}

/************************************************************************************************************/
/*                                                                                                          */
/*                                              PAGE CONTACT                                                */
/*                                                                                                          */
/************************************************************************************************************/
#background_contact {
    height: 350px;
    background-image: url(/pictures/photo_devanture.JPG);
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
}

#overlay_background_contact,
#overlay_background_aboutUs,
#overlay_background_card,
#overlay_background_actuality {
    background-color: rgba(0, 0, 0, 0.600);
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title_contact > h2,
#title_aboutUs > h2,
#title_page_card >h2,
#title_page_actuality >h2 {
    color: white;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    font-family: "de-bambeet";
}

#title_page_contact {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.row_contact {
    justify-content: center;
}

.row_contact > .col {
    text-align: center;
}

#phone_contact > i,
#places_contact > i,
#mail_contact > i {
    font-size: 2rem;
    color: #022168;
    margin-bottom: 2rem;
}

#phone_contact > h3,
#places_contact > h3,
#mail_contact > h3 {
    font-size: 1.3rem;
    color: #022168;
}

#phone_contact > p,
#places_contact > p,
#mail_contact > a > p {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
}

#no_margin {
    margin-bottom: 0;
}

#container_places_contact {
    border-left: 2px #022168 solid;
    border-right: 2px #022168 solid;
}

#aside_message {
    width: 50%;
    text-align: center;
    margin: 5rem auto;
}

#aside_message > span {
    color: #022168;
    font-style: italic;
    font-size: 1.1rem;
}  

#container_form_contact {
    width: 30%;
    margin: auto;
    margin-bottom: 5rem;
}

#message_validation {
    text-align: center;
    margin-bottom: 4rem;
    color: green;
    font-weight: bold;
    font-style: italic;
}

#btn_contact {
    color: #022168 ;
    border-color: #022168;
}

#btn_contact:hover,
#btn_contact:hover {
    color: #02216878;
    border-color: #02216878;
}

#map {
    height: 400px;
    width: 40%;
    margin: auto;
}

/*****************************/
/*                           */
/*    Responsive tablette    */
/*                           */
/*****************************/

@media screen and (max-width : 768px) {
    #background_contact {
        margin-bottom: 4rem;
    }

    #title_page_contact {
        margin-bottom: 4rem;
    }

    
    #aside_message {
        width: 80%;
        text-align: center;
        margin: 4rem auto;
    }

    #container_form_contact {
        width: 85%;
        margin: auto;
        margin-bottom: 4rem;
    }

    .col-md-2 {
        width: 30%;
    }

}

/******************************/
/*                            */
/*    Responsive téléphone    */
/*                            */
/******************************/

@media screen and (max-width : 576px) {
    #background_contact {
        height: 285px;
        margin-bottom: 3rem;
    }

    #overlay_background_contact {
        height: 285px;
    }

    #title_page_contact {
        margin-bottom: 3rem;
    }

    #container_places_contact {
        border-top: 2px #8a6443 solid;
        border-bottom: 2px #8a6443 solid;
        border-left: none;
        border-right: none;
        width: 50%;
        margin: auto;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }

    #aside_message {
        width: 100%;
        text-align: center;
        margin: 3rem auto;
    }

    #container_form_contact {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }

    #map {
        height: 300px;
    }

    .col-md-2 {
        width: 100%;
    }
}

/*************************************************************************************************************/
/*                                                                                                           */
/*                                              PAGE A PROPOS                                                */
/*                                                                                                           */
/*************************************************************************************************************/

#background_aboutUs {
    height: 350px;
    background-image: url(/pictures/photo_devanture.JPG);
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
}

#card_presentation {
    width: 67%;
    margin: auto;
    align-items: center;

}

#card_presentation > div {
    text-align: center;
}

.title_card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.img_team > img {
    width: 63%;
}

#history {
    padding-top: 4rem;
}

#jk9 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 1rem;
}

#jk10{
    text-align: center;
    font-size: 1.2em;
    padding-top: 3rem;
}

#text_aboutUS > p {
    text-align: justify;
    line-height: 20px;
}

#text_aboutUS > ul {
    color: #022168;
    list-style: none;
}

.read-more-button {
    color: #022168;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 1rem 0.5rem;
    border-bottom: 2px solid #022168;
    margin-bottom: 2rem;
}

.read-more-button:hover {
    transition: color 0.2s ease;
    color: #0221689e;
}
.read-more-state {
    display: none;
}

#banner_about {
    height: 700px;
    margin: 5rem auto 28rem ;
    background-image: url(/pictures/banner_maison.jpg);
    background-size: cover;
    background-position: 20% 70%;
}

#banner_text {
    margin-bottom: 3rem;
}

#jk11 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: #ffffff2b;
    width: 100%;
    text-align: center !important;
}

#jk13{
    font-size: 12rem;
    text-align: center;
    letter-spacing: 1rem;
    color: #02216817;
    width: 100%;
}

#marg {
    margin-bottom: 3.5rem;
}

.slider_comments {
    background-color: #f9f6f3;
    height: 600px;
}

.quote {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.quote > img {
    height: 50px;
}

#item1, 
#item2, 
#item3 {
	position: absolute;
    display: block;
    width: 50%;
    font-size: 2em;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
    text-align: center;
    font-style: italic;
    font-size: 1.3rem;
}

#item1 {
	animation-name: anim-1;
}

#item2 {
	animation-name: anim-2;
}

#item3 {
	animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}

#about_porcelet_rose {
    width: 60%;
    margin: auto;
    text-align: justify;
    margin-bottom: 5rem;
    background-color: #272a4c;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 35rem;
}


#about_porcelet_rose > p {
    color: white;
    font-size: 0.9rem;
    padding: 0 4rem;
}

#title_banner_about {
    font-family: inherit;  
    letter-spacing: 0.1rem;
    color: #ffffffb8;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-top: 5rem;
}

#jk12 {
    padding-top: 4rem;
}
/******************************/
/*                            */
/*    Responsive tablette     */
/*                            */
/******************************/
@media screen and (max-width : 768px) {
    #card_presentation {
        width: 80%;
    }
    
    #first_img {
        order: 1;
    }

    #jk9 {
        top: 56%;
    }

    #jk10{
        padding-top: 1rem;
    }

    #jk12 {
        padding-top: 4rem;
    }

    .img_team {
        width: 50%;
        padding: 0;
    }

    .img_team > img {
        width: 85%;
    }

    #banner_about {
        height: 450px;
        margin: 5rem auto 37rem;
    }

    #about_porcelet_rose {
        margin-top: 24rem;
        width: 80%;
    }

    #title_banner_about {
        margin-bottom: 2rem;
        margin-top: 4rem;
    }

    #banner_text {
        margin-bottom: 1rem;
    }

    #slider_comments {
        height: 540px;
    }

    @keyframes anim-1 {
        0%, 8.3% { left: -50%; opacity: 0; }
        8.3%,25% { left: 25%; opacity: 1; }
        33.33%, 100% { left: 50%; opacity: 0; }
    }
    
    @keyframes anim-2 {
        0%, 33.33% { left: -50%; opacity: 0; }
        41.63%, 58.29% { left: 25%; opacity: 1; }
        66.66%, 100% { left: 50%; opacity: 0; }
    }
    
    @keyframes anim-3 {
        0%, 66.66% { left: -50%; opacity: 0; }
        74.96%, 91.62% { left: 25%; opacity: 1; }
        100% { left: 50%; opacity: 0; }
    }
}
/******************************/
/*                            */
/*    Responsive téléphone    */
/*                            */
/******************************/

@media screen and (max-width : 576px) {
    #title_aboutUs > h2 {
        font-size: 2rem;
    }

    #background_aboutUs,
    #overlay_background_aboutUs {
        height: 280px;
    }

    #card_presentation,
    #about_porcelet_rose {
        width: 90% !important;
    }
    
    #jk9 {
        font-size: 3rem;
        top: 55%;
    }

    #jk10 {
        font-size: 1rem;
    }

    #jk11 {
        font-size: 2rem;
    }

    #jk12 {
        padding-top: 3rem;
    }

    #title_banner_about {
        font-size: 1rem;
        margin-top: 3rem;
    }

    #banner_text {
        margin-bottom: 0rem;
    }

    #banner_about {
        margin: 5rem auto 30rem;
    }

    #marg {
        margin-bottom: 1.5rem;
    }

    .title_card {
        margin-bottom: 3rem;
    }

    #quote {
        margin-bottom: 1rem;
        padding-top: 1rem;
    }

    #about_porcelet_rose > p {
        padding: 0 1rem;
        font-size: 0.8rem;
    }

    #jk13 {
        font-size: 5rem;
    }

    #text_aboutUS {
        margin-bottom: 2rem;
    }

    @keyframes anim-1 {
        0%, 8.3% { left: -30%; opacity: 0; }
        8.3%,25% { left: 15%; opacity: 1; }
        33.33%, 100% { left: 30%; opacity: 0; }
    }
    
    @keyframes anim-2 {
        0%, 33.33% { left: -30%; opacity: 0; }
        41.63%, 58.29% { left: 15%; opacity: 1; }
        66.66%, 100% { left: 30%; opacity: 0; }
    }
    
    @keyframes anim-3 {
        0%, 66.66% { left: -30%; opacity: 0; }
        74.96%, 91.62% { left: 15%; opacity: 1; }
        100% { left: 30%; opacity: 0; }
    }

    #item1, 
    #item2, 
    #item3 {
        width: 70%;
        font-size: 0.9rem;
    }
    
    #slider_comments {
        height: 400px;
    }
}


/**********************************************************************************************************/
/*                                                                                                        */
/*                                              PAGE CARTE                                                */
/*                                                                                                        */
/**********************************************************************************************************/
#background_card {
    height: 350px;
    background-image: url(/pictures/banniere_carte.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
}

#special_card {
    height: 650px;
    background-image: url(/pictures/photo_carte_spéciale.jpg);
    background-size: cover;
    background-position: center;
    margin: 10rem 0;
}

.title_special_card {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

#overlay_special_card{
    background-color: rgba(0, 0, 0, 0.7);
    height: 650px;
}

.aside_special_card {
    color: white;
    width: 35%;
    margin: 6rem auto ;
}

.comming_soon {
    border: 2px solid white;
    width: 27%;
    padding: 0.5rem 1.5rem;
    margin: auto;
}

#container_places_contact_card {
    border-left: 2px #022168 solid;
    border-right: 2px #022168 solid;
}

.comming_soon > p {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

.container_command > h3 {
    text-transform: uppercase;
    color: #022168;
    margin: 2rem 0;
    font-size: 1.1rem;
}

.container_command > p > a {
    text-decoration: none;
    color: #022168;
}

#row_command {
    width: 60%;
    margin: 10rem auto;
}

#row_command > div {
    padding: 0 2rem;
}

#container_command_payment {
    border-right: 2px #022168 solid;
}

.title_services {
    color: #022168;
    letter-spacing: 0.2rem;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    text-align: center;
}

.mosaic_img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: -5rem;
}

.img_1 {
    grid-column: 1/2;
    grid-row: 1/8;
}

.img_2 {
    grid-column: 2/4;
    grid-row: 1/8; 
}

.img_3 {
    grid-column: 2/4;
    grid-row: 5/8;
}

.img_4 {
    grid-column: 4/8;
    grid-row: 1/4;
}

.img_5 {
    grid-column: 4/4;
    grid-row: 4/8;
}

.img_6 {
    grid-column: 5/8;
    grid-row: 4/8;
}

.img_service {
    margin-bottom: 8rem;
    margin-top: 3rem;
}

#service_left {
    position: absolute;
    left: 32%;
    width: 12%;
    z-index: -1;
    margin-top: 2rem;
}

#service_right {
    position: absolute;
    right: 32%;
    width: 12%;
    z-index: -1;
    margin-top: 2rem;
}

#service_center {
    width: 14%;
}

/*****************************/
/*                           */
/*    Responsive tablette    */
/*                           */
/*****************************/

@media screen and (max-width : 768px) {
    .aside_special_card,
    .comming_soon {
        width: 67%;
    }

    #align {
        margin: 3rem 0;
        width: 100%;
    }

    #container_places_contact,
    #container_command_payment,
    #container_places_contact_card {
        border:none;
    }

    #row_command > div {
        margin-bottom: 3rem;
    }

    #row_command {
        margin: 5rem auto;
    }

    .mosaic_img {
        grid-auto-rows: minmax(70px, auto);
    }

    #service_left {
        left: 4%;
        width: 27%;
    }

    #service_right {
        right: 4%;
        width: 27%;
    }

    #service_center {
        width: 34%;
    }
}

/******************************/
/*                            */
/*    Responsive téléphone    */
/*                            */
/******************************/

@media screen and (max-width : 576px) {
    #overlay_special_card,
    #special_card {
        height: 500px;
        margin: 4rem 0;
    }

    .aside_special_card {
        margin: 4rem auto;
    }

    .aside_special_card,
    .comming_soon {
        width: 96%;
        text-align: center;
        padding: 0.5rem 0.5rem;
        font-size: 0.9em;
    }

    #align {
        margin: 3.5rem 0;
        font-size: 4rem;
    }

    .row_card {
        margin-top: 0;
    }

    .container_command > h3 {
        margin: 0.5rem 0;
    }

    #row_command > div {
        margin-bottom: 1.5rem;
    }

    .title_services {
        margin-top: -2rem;
    }

    .title_services > img {
        width: 100%;
    }

    .img_service > img {
        width: 80% !important;
        margin-bottom: 1rem;
        position: initial !important;
    }

    .img_service {
        margin-bottom: 5rem;
    }

    .mosaic_img {
        grid-auto-rows: minmax(35px, auto);
    }
}

/**************************************************************************************************************/
/*                                                                                                            */
/*                                              PAGE ACTUALITE                                                */
/*                                                                                                            */
/**************************************************************************************************************/

#background_actuality {
    height: 350px;
    background-image: url(/pictures/banierre_actu.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
}

#container_all_actuality {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

#container_all_actuality > div {
    margin: 0.5rem;
}

.actu_1 {
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: #022168;
}


.actu_2 {
    grid-column: 2/2;
    grid-row: 1/8;
    
}

.actu_3 {
    grid-row: 1/4;
    background-color: black;
}

.actu_4 {
    grid-column: 1/2;
    grid-row: 13/5;;
}

.actu_5 {
    grid-column: 2/2;
    grid-row: 11/8;
    background-color: rgb(175, 175, 175);
}

.actu_6 {
    grid-row: 4/12;
}

.actu {
    position: relative;
    width: 95%;
}
   
   /* Image originale */
.actu .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   
   /* Texte original */
.actu .text {
    font-size: 14px;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 2rem;
}

.actu .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.actu:hover .hover {
    opacity: 1;
}

.actu .normal {
    transition: .5s ease;
}

.actu:hover .normal {
    opacity: 0;
}

.hover {
    background: rgba(0,0,0,1);
}

.text > a > h2,
.text > a > p,
.text > h2,
.text > p {
    color: white !important;
}

.link_actu {
    color: #797979;
    transition: 0.3s ease;
}

.link_actu:hover {
    color: white;
}

.link_actu_bis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.link_actu_bis:hover {
    color: #797979;
}

#margin_container {
    margin-top: 8rem;
}

/*****************************/
/*                           */
/*    Responsive tablette    */
/*                           */
/*****************************/

@media screen and (max-width : 768px) {
    .actu .text {
        font-size: 12px;
    }
}

/******************************/
/*                            */
/*    Responsive téléphone    */
/*                            */
/******************************/

@media screen and (max-width : 576px) {

    .actu .hover {
        position: initial;
    }

    #container_all_actuality {
        display: initial;
    }
}
@media (max-width : 1024px) {
    #container_all_actuality {
        width: 95%;
    } 
}

@media (min-width : 1024px) {
    .hover > .text > .link_actu {
        display: initial;
    }

    .text > .link_actu {
        display: none;
    }
}

@media (min-width : 769px) and (max-width : 1024px) {
    .vertical_item,
    .vertical_item_2,
    .second_separator_vertical_1,
    .second_separator_vertical_2,
    #logo_grey,
    #logo_grey_2,
    #separator_vertical_contact {
        display: none;
    }

    #service_right {
        right: 23%;
        width: 16%;
    }

    #service_center {
        width: 20%;
    }

    #service_left {
        left: 23%;
        width: 16%;
    }

    #skill {
        top: -185%;
        left: 25%;
    }

    .main-pos,
    .back-pos {
        margin-left: -4rem;
    }

    .right-pos {
        margin-left: 15rem;
    }

    .left-pos {
        margin-left: -23em;
    }

    #next {
        left: 32rem;
    }

    #prev {
        left: -22rem;
    }

    .main_title {
        font-size: 5rem;
        letter-spacing: 0.6rem;
    }

    #jk9 {
        top: 84%;
        font-size: 5rem;
    }

    .second_title {
        padding-top: 11%;
    }

    #title_contact_homepage {
        padding-top: 0rem;
    }

    #legal_mention {
        margin-top: -1rem;
    }

    #title_medal > p {
        margin-left:  16rem;
    }

    .slider {
        padding: 4rem;
        height: 600px;
        width: 100%;
    }

    .slide > img {
        height: 300px;
        width: 150px;
    }

    .slider::before { 
        margin-top: 4rem;
    }

    .slider::after {
        margin-top: 4rem;
        right: -1%;
    }

    .slide-track {
        width: calc(185px * 12);
        margin-top: 5.5rem;
    }

    #container_picture,
    #container_text_actuality,
    .container_text_menu {
        text-align: center;
    }

    #picture_melissa_delaye,
    .picture_menu {
        width: 80%;
    }

    #container_picture > img,
    .container_picture_menu > img {
        margin: 0 ;
    }

    #jk1 {
        margin-left: 0;
        margin-top: 1rem;
    }

    #jk2 {
        padding-left: 0;
        padding-top: 1.5rem;;
    }

    #container_text_actuality > p,
    .container_text_menu > p {
        width: 85%;
        margin: 4rem auto;
    }

    .separator_actuality,
    .separator_menu {
        margin: auto;
    }

    #btn_actuality,
    .btn_menu {
        margin-left: 0;
    }

    .container_picture_menu {
        text-align : center;
    }

    .jk3 {
        margin: 0;
    }

    .jk4 {
        padding-top: 1rem;
        padding-left: 0;
    }

    #container_contact,
    #container_contact_opacity {
        height: 700px;
    }

    .jk5 {
        margin-top: 7rem;
        margin-left: 0rem;
        width: 100%;
        font-size: 5rem;
    }

    #main_containter_footer > a > img {
        width: 20%;
    }

    #fab {
        margin-left: 1.5rem;
        margin-right: 1.4rem;
    }

    footer {
        height: 283px;
    }

    #card_presentation {
        width: 100%;
    }

    #about_porcelet_rose {
        width: 85%;
    }

    @keyframes anim-1 {
        0%, 8.3% { left: -50%; opacity: 0; }
        8.3%,25% { left: 25%; opacity: 1; }
        33.33%, 100% { left: 50%; opacity: 0; }
    }
    
    @keyframes anim-2 {
        0%, 33.33% { left: -50%; opacity: 0; }
        41.63%, 58.29% { left: 25%; opacity: 1; }
        66.66%, 100% { left: 50%; opacity: 0; }
    }
    
    @keyframes anim-3 {
        0%, 66.66% { left: -50%; opacity: 0; }
        74.96%, 91.62% { left: 25%; opacity: 1; }
        100% { left: 50%; opacity: 0; }
    }

    .comming_soon {
        width: 50%;
    }

    .aside_special_card {
        width: 65%;
    }

    .title_special_card {
        padding-top: 2rem;
    }

    #align {
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }

    #container_places_contact_card,
    #container_command_payment { 
        border: none;
    }

    #row_command {
        width: 90%;
    }

    #container_form_contact {
        width: 55%;
    }

    #map {
        width: 70%;
    }
}
@media (max-height : 800px) {
    .vertical_item,
    .vertical_item_2 {
        display: none;
    }

    #container_main_title {
        margin-top: 8rem;
    }
}

.container_legalMention {
    width: 60%;
    margin: auto;
}