{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

<div>
    <h1>Administation</h1>
    <p>Bienvenue dans l'interface de d'administration de la Maison Delaye</p>
</div>

{% endblock %}