{% extends 'layout/base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
{% include "layout/navBar.html.twig" %}
    <div id="background_card">
        <div id="overlay_background_card">
            <div id="title_page_card">
                <h1>Mentions légales</h1>
            </div>
        </div>
    </div>
    <div class="container_legalMention">
        <h2>Propriétaire du Site</h2>
        <br>
        <p>Le présent site https://www.maisondelaye.com est édité par : MAISON DELAYE</p>
        <p>Société à responsabilité limitée</p>
        <p>Siège social : AU PORCELET ROSE, 41 RUE HOUDAN 92330 SCEAUX, </p>
        <p>Numéro RCS 316430842 NANTERRE</p>
        <p>Numéro TVA intracommunautaire : FR 01316430842</p>
        <p>Adresse courriel : <a href="mailto:contact@maisondelay.com">contact@maisondelay.com</a></p>
        <p>Téléphone: 01 46 61 01 71</p>
        
        <h2>Hébergeur du site</h2>
        <br>
        <p>IONOS by 1and1 - 7 Place de la Gare, 57200 Sarreguemines - 09 70 80 89 11</p>

        <h2>Directeur de la publication</h2>
        <br>
        <p>Madame Ines TEHAMI - CYNES - 1 Q avenue Chiris 06130 GRASSE</p>
        
        <h2>INFORMATIONS A CARACTERE PERSONNEL</h2>
        <br>
        <p>Nous vous invitons à prendre connaissance de notre Politique de protection des données personnelles, en cliquant : <a target="_blank" href="/uploads/Politique_de_données_personnelles_MAISON_DELAYE.pdf">ICI</a></p>   

        <h2>COOKIES</h2>
        <br>
        <p> Nous vous invitons à prendre connaissance de notre Politique Cookies, en cliquant : <a target="_blank" href="/uploads/politique_Cookies_MAISON_DELAYE.pdf">ICI</a></p>
       


    </div>
{% endblock %}
