{% extends 'layout/base.html.twig' %}

{% block title %}Notre savoir-faire{% endblock %}

{% block body %}
{% include "layout/navBar.html.twig" %}
    <div id="background_aboutUs">
		<div id="overlay_background_aboutUs">
			<div id="title_aboutUs">
				<h1>La Maison</h1>
			</div>
		</div>
	</div>
    <div id="history" class="title_card">
        <span id="jk9" class="main_title jk3">l'histoire</span>
        <h2 id="jk10" class="second_title jk4">De la maison Delaye</h2>
    </div>
    <div id="card_presentation" class="row row-cols-1 row-cols-lg-3">
        <div id="first_img" class="col img_team">
            <img data-aos="fade-right" data-aos-duration="1200" src="{{ asset('/pictures/photo_benjamin.jpg') }}" alt="benjamin delaye medaille d'or du paté en croute">
        </div>
        <div id="text_aboutUS" class="col">
            <input type="checkbox" onchange="ChangeTextBaliseMore(this)" class="read-more-state" id="post-1">
            <p>Mélissa et Benjamin charcutiers de formation vibrent au même son : celui de la gastronomie traditionnelle française.</p>   
            <p>C’est en couple que ces passionnés de charcuterie vivent leur aventure Scéenne et qu’ils décident de relancer l'institution ‘’Au Porcelet Rose’, rebaptisée la « Maison DELAYE ». 
            Formés par Pascal Joly (charcutier Meilleur Ouvrier de France) et Eric Pellé à l’Ecole d’Art Culinaire « Grégoire Ferrandi », Mélissa et Benjamin persévèrent à l’Ecole des Charcutiers de Paris, puis décident en 2012 de prendre leur envol toujours ensemble, en reprenant les rênes d’une charcuterie vieille de 100 ans à Courbevoie. </p>
            <p>Après 4 années d'expérience, ce tandem audacieux se lance le défi d’une vie : redonner souffle à l'Institution “Au Porcelet Rose” à Sceaux. 
            Entourés de leurs équipes où règnent rigueur et professionnalisme, l’univers de la « Maison DELAYE » s’attache à l’authenticité du goût et à la technique, grâce à des matières premières sélectionnées ; l’expérience gustative autour de la tradition culinaire française toujours mise en avant.</p>
            <p>Attachés à l'excellence et à la maîtrise technique du métier, Melissa et Benjamin sont passionnés par le challenge. Ils s’investissent dans la préparation des concours culinaires et en remportent de nombreux. Leur palmarès est à leur image :</p>
            <ul class="multi-collapse collapse">
                <li>Médaille d’argent de la meilleure choucroute 2015.</li>
                <li>Médaille d’or du fromage de tête en 2015 et 2016.</li>
                <li>Médaille d’or du jambon blanc de Paris 2016.</li>
                <li>Médaille d’or du pâté de foie 2017.</li>
                <li>Meilleure apprentie de France en 2008 à Poitiers obtenu par Melissa Delaye.</li>
            </ul>
            <p class="multi-collapse collapse">Il n’y a pas d’art sans passion, il n’y a pas de créativité sans rigueur, il n’y a pas de réussite sans dépassement de soi.
            Mélissa et Benjamin, c’est la rencontre de deux passionnés, un artiste et sa muse qui subliment la charcuterie pour la porter au plus haut rang de la gastronomie française.</p>
            <label class="read-more-button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" for="post-1">Voir plus</label>  
        </div>
        <div class="col img_team">
            <img data-aos="fade-left" data-aos-duration="1200" src="{{ asset('/pictures/photo_melissa2.jpg') }}" alt="melissa delaye meilleure ouvrière de france charcutier traiteur">
        </div>
    </div>
    <div id="banner_about">
        <div id="banner_overlay_background_aboutUs"></div>
        <div id="about_porcelet_rose">
            <div id="banner_text" class="title_card">
                <span data-aos="fade-right" data-aos-duration="1200" id="jk11" class="main_title jk3">De l'art et du cochon</span>
                <h2 id="title_banner_about">Au porcelet rose</h2>
            </div>
            <p>La « Maison DELAYE », anciennement “Au Porcelet Rose”, est une institution pour les amateurs de charcuterie véritable et de produits traiteurs. 
            Située rue Houdan à Sceaux, la boutique propose des recettes raffinées pour satisfaire les goûts les plus exigeants. Qualité, partage et passion sont les maîtres mots de la Maison pour vous proposer chaque jour des mets gustatifs, raffinés et sublimés. Riche de son savoir-faire, la « Maison DELAYE » met un point d’honneur à fabriquer des produits 100% faits maison, uniquement réalisés à base de produits frais et de haute qualité.</p>
            <p id="marg">En août 2021, la boutique a fait peau neuve : les espaces intérieurs et extérieurs, ainsi que l’identité visuelle ont été repensés dans un esprit néo-classique pour perpétuer le patrimoine historique de la ville de Sceaux et de son emblématique Château.  
            Entre art et artisanat, les portes de La « Maison DELAYE « s’ouvrent sur le monde de la gastronomie et de l’art de vivre à la Française.</p>    
        </div>
    </div>
    <div class="slider_comments">
        <div class="quote"><img src="{{ asset('/pictures/quote.png') }}" alt="quote"></div>
        <div class="title_card">
            <span data-aos="fade-right" data-aos-duration="1200" id="jk13" class="main_title jk3">Vos avis</span>
            <h2 id="jk12" class="second_title jk4">Ils parlent de nous</h2>
        </div>
        <p id="item1">Produits de haute qualitė,tres bon acceuil de clientėle. <br><br> Mai 2021</p>
        <p id="item2">Ce traiteur propose des produits de très bonne qualité. Que ce soient les entrées, la charcuterie, les terrines, plats, accompagnements.... tout est excellent ! J’y vais régulièrement et ai toujours été entièrement satisfaite [...] <br><br> Avril 2021</p>
        <p id="item3">Tout y est excellent ! Des entrées aux desserts, une adresse incontournable à Sceaux. De plus, l'accueil y est toujours chaleureux et professionnel. Une très très belle adresse ! <br><br> Mars 2021</p>
    </div>

{% endblock %}